body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1.5px;
    line-height: 1.5;
}
header {
    background-color: #8F43EE;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 50px;
    letter-spacing: -1.5px;
}
header p {
    width: 70%;
    max-width: 900px;
    font-size: 14px;
    line-height: 1.2;
}
header hr {
    width: 50%;
    margin: 32px 0;
    color: white;
}
span {
    color: #FF6E31;
    font-weight: bold;
}
.date-blog {
    text-align: center;
    margin: 40px 0;
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.box {
    margin: 60px 0;
}
.container h2 {
    margin: 40px 0;
    letter-spacing: 0;
    font-size: 40px;
}
.container h2 + p {
    font-weight: 500;
}
.quote {
    font-style: italic;
    font-size: 14px;
    border-left: 3px solid #FF6E31;
    padding-left: 16px;
}
.quote cite {
    display: block;
    font-weight: bold;
    margin-left: 20px;
}
.box h3 {
    text-transform: capitalize;
    font-size: 32px;
    letter-spacing: -1px;
}
.footer {
    background-color: #8F43EE;
}
.footer ul {
    width: 85%;
    max-width: 900px;
    margin: 0 auto;
    list-style: none;
    padding: 40px 0;
    text-align: center;
}
.footer ul li {
    display: inline;
    margin: 0 10px;
}
.footer li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.footer li a:hover {
    text-decoration: underline;
}
